<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreidiaconu.transitions">

    <!--You will try to use the project with internet images and I'm sparing you the problems-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".stage1.GridActivity1"
            android:label="Cats Stage 1"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity  android:name=".stage1.DetailsActivity1" />

        <activity
            android:name=".stage2.GridActivity2"
            android:label="Cats Stage 2"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity  android:name=".stage2.DetailsActivity2" />

        <activity
            android:name=".stage3.GridActivity3"
            android:label="Cats Stage 3"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity  android:name=".stage3.DetailsActivity3" android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".stage4.GridActivity4"
            android:label="Cats Stage 4"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity  android:name=".stage4.DetailsActivity4" android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".stage5.GridActivity5"
            android:label="Cats Stage 5"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity  android:name=".stage5.DetailsActivity5" android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".stage6.GridActivity6"
            android:label="Cats Stage 6"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity  android:name=".stage6.DetailsActivity6" android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".stage7.GridActivity7"
            android:label="Cats Stage 7"
            android:theme="@style/AppTheme.Transitions"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity  android:name=".stage7.DetailsActivity7" android:theme="@style/AppTheme.Transitions" />

        <activity
            android:name=".stage8.GridActivity8"
            android:label="Cats Stage 8"
            android:theme="@style/AppTheme.Transitions"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity  android:name=".stage8.DetailsActivity8" android:theme="@style/AppTheme.Transitions" />

    </application>

</manifest>
